body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1D084B;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.container button {
    border: none;
    box-sizing: border-box;
    flex-basis: 25%;
    font-size: 24px;
}

.display {
    flex-basis: 100%;
    border: none;
    height: 35px;
}

.operator,
.equals {
    background-color: #C247ED;
    color: #F6D9E2;
}

.operand,
.decimal {
    background-color: #3533B2;
    color: #F6D9E2;
}

.percent,
.clear,
.sign {
    background-color: #F199E3;
    color: #1D084B;
}

#zero {
    flex-basis: 50%;
}