@font-face {
    font-family: 'Digital-7';
    src: url('Digital-7.woff2');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1D084B;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    max-width: 450px;
}

.button-container {
    box-sizing: border-box;
    flex-basis: 25%;
    text-align: center;
}

.button-container button {
    font-size: 24px;
    border: none;
    margin: 10px auto; 
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 100%;
    border: none;
    height: 70px;
    margin: 15px 5%;
    font-family: 'Digital-7';
    font-weight: normal;
    font-style: normal;
    color: #F6D9E2;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.operator,
.equals {
    background-color: #C247ED;
    color: #F6D9E2;
}
.operator:hover,
.equals:hover {
    background-color: #cb63f0;
}

.operand,
.decimal {
    background-color: #3533B2;
    color: #F6D9E2;
}

.operand:hover,
.decimal:hover {
    background-color: #4745ca;
}

.percent,
.clear,
.backspace {
    background-color: #F199E3;
    color: #1D084B;
}

.percent:hover,
.clear:hover,
.backspace:hover {
    background-color: #f3a8e7;
}

#zero-btn {
    flex-basis: 50%;
}

#zero-btn button {
    width: 180px;
    border-radius: 35px;
}